{# templates/app/index.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Hello AppController!{% endblock %}

{% block body %}
    <h1 class="text-3x1 font-bold underline" >
    Welcome to Pixel
    <span class="badge">BUT info2 TP3</span>
    </h1>
{% endblock %}