{# templates/app/index.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Hello AppController!{% endblock %}

{% block body %}

    <h1>Ajouter un nouveau Coaster</h1>
    
   
    {{ form_start(coasterForm) }}

    {{ form_widget(coasterForm) }}
    
    <button type="submit" class="btn btn-primary">Enregistrer le Coaster</button> 
    
    {{ form_end(coasterForm) }}
{% endblock %}