{% extends 'base.html.twig' %}

{% block body %}
<form method="post">
    <h1>Supprimer {{ coaster.name }}</h1>

    <p>Êtes-vous sûr de vouloir supprimer ce coaster ?</p>

    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ coaster.id) }}">
    <button type="submit" class="btn btn-warning">Supprimer</button>
    
</form>
{% endblock %}