{% extends 'base.html.twig' %}

{% block body %}
<h1>Modifier un coaster</h1>
    {# Affichage du formulaire #}
    {{ form_start(coasterForm) }}
        {{ form_widget(coasterForm) }}
        <button type="submit" class="btn btn-primary">Envoyer</button>
    {{ form_end(coasterForm) }}
{% endblock %}