{% extends 'base.html.twig' %}

{% block body %}
<h1>Liste des coasters</h1>
<div class="divider"></div>
<div class="overflow-x-auto">
  <table class="table">
    <!-- head -->
    <thead>
      <tr>
        <th>Nom</th>
        <th>Vit. Max.</th>
        <th>Longeur</th>
        <th>Haut. Max.</th>
        <th>Opérationnel</th>
      </tr>
    </thead>
    <tbody>
      
    </tbody>
  </table>
</div>
{% endblock %}